@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    overscroll-behavior: none;
    overflow-x: hidden;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background-color: #151515;
    color: #fff;
}
